<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util.xsd
http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    
    
    <context:component-scan base-package="com.demo"></context:component-scan>

<bean id = "emp" class = "com.demo.spring.pojo.MyEmployee" lazy-init="true"> 
	<property name="empName" value = "SG"></property>
	<property name="empId" value = "200"></property>
</bean>

<bean id = "emp_const" class = "com.demo.spring.pojo.MyEmployee" scope="prototype"> 
 	
 	<!-- tried with index <constructor-arg value = "my name" index ="1"> </constructor-arg> -->
 	<!--By Type(data Type) <constructor-arg value = "my name" type ="java.lang.String"> </constructor-arg> -->
 	
 	<constructor-arg value = "my name" name ="empName"/> <!-- By Name -->
 	
 	<constructor-arg value = "10"> </constructor-arg>
</bean>


  <bean id="dept" class="com.demo.spring.pojo.Department" autowire = "byName"> 

<!-- <bean id="dept" class="com.demo.spring.pojo.Department" autowire = "byType">  -->
	<property name="deptId" value = "300"></property>
	<property name="depName" value = "Development"></property>
	<!-- <property name="emp" ref = "emp_const"></property>  -->
</bean>


<bean id="stu" class="com.demo.spring.pojo.Student">
		<property name="rollNo" value="1"></property>
		<property name="name" value="student124"></property>
	</bean>


</beans>
